<div>
  <h2 id="page-heading" data-cy="MenuHeading">
    <span jhiTranslate="mymenuwebApp.mymenumsMenu.home.title">Menus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsMenu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-menu"
        [routerLink]="['/menu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsMenu.home.createLabel"> Create a new Menu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="menus?.length === 0">
    <span jhiTranslate="mymenuwebApp.mymenumsMenu.home.notFound">No menus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="menus && menus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="mymenuwebApp.mymenumsMenu.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="userId">
            <span jhiTranslate="mymenuwebApp.mymenumsMenu.userId">User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="starter.name">
            <span jhiTranslate="mymenuwebApp.mymenumsMenu.starter">Starter</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="main.name">
            <span jhiTranslate="mymenuwebApp.mymenumsMenu.main">Main</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dessert.name">
            <span jhiTranslate="mymenuwebApp.mymenumsMenu.dessert">Dessert</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let menu of menus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/menu', menu.id, 'view']">{{ menu.id }}</a>
          </td>
          <td>{{ menu.date | formatMediumDate }}</td>
          <td>{{ menu.userId }}</td>
          <td>
            <div *ngIf="menu.starter">
              <a [routerLink]="['/recipe', menu.starter?.id, 'view']">{{ menu.starter?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="menu.main">
              <a [routerLink]="['/recipe', menu.main?.id, 'view']">{{ menu.main?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="menu.dessert">
              <a [routerLink]="['/recipe', menu.dessert?.id, 'view']">{{ menu.dessert?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/menu', menu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(menu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
