<div>
  <h2 id="page-heading" data-cy="ReceipePictureHeading">
    <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.home.title">Receipe Pictures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-receipe-picture"
        [routerLink]="['/receipe-picture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.home.createLabel"> Create a new Receipe Picture </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="receipePictures?.length === 0">
    <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.home.notFound">No receipePictures found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="receipePictures && receipePictures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="picture">
            <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.picture">Picture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="label">
            <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.label">Label</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order">
            <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let receipePicture of receipePictures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/receipe-picture', receipePicture.id, 'view']">{{ receipePicture.id }}</a>
          </td>
          <td>
            <a *ngIf="receipePicture.picture" (click)="openFile(receipePicture.picture, receipePicture.pictureContentType)">
              <img
                [src]="'data:' + receipePicture.pictureContentType + ';base64,' + receipePicture.picture"
                style="max-height: 30px"
                alt="receipePicture image"
              />
            </a>
            <span *ngIf="receipePicture.picture">{{ receipePicture.pictureContentType }}, {{ byteSize(receipePicture.picture) }}</span>
          </td>
          <td>{{ receipePicture.label }}</td>
          <td>{{ receipePicture.order }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/receipe-picture', receipePicture.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/receipe-picture', receipePicture.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(receipePicture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
