<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ingredient-heading"
        data-cy="IngredientCreateUpdateHeading"
        jhiTranslate="mymenuwebApp.mymenumsIngredient.home.createOrEditLabel"
      >
        Create or edit a Ingredient
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mymenuwebApp.mymenumsIngredient.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mymenuwebApp.mymenumsIngredient.quantityType" for="field_quantityType"
            >Quantity Type</label
          >
          <select class="form-control" name="quantityType" formControlName="quantityType" id="field_quantityType" data-cy="quantityType">
            <option [ngValue]="null">{{ 'mymenuwebApp.QuantityType.null' | translate }}</option>
            <option value="QUANTITY">{{ 'mymenuwebApp.QuantityType.QUANTITY' | translate }}</option>
            <option value="G">{{ 'mymenuwebApp.QuantityType.G' | translate }}</option>
            <option value="KG">{{ 'mymenuwebApp.QuantityType.KG' | translate }}</option>
            <option value="L">{{ 'mymenuwebApp.QuantityType.L' | translate }}</option>
            <option value="ML">{{ 'mymenuwebApp.QuantityType.ML' | translate }}</option>
            <option value="SOUPSPOON">{{ 'mymenuwebApp.QuantityType.SOUPSPOON' | translate }}</option>
            <option value="TEASPON">{{ 'mymenuwebApp.QuantityType.TEASPON' | translate }}</option>
            <option value="PINCH">{{ 'mymenuwebApp.QuantityType.PINCH' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="mymenuwebApp.mymenumsIngredient.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
