<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="sheld">
      <h2 data-cy="sheldDetailsHeading"><span jhiTranslate="mymenuwebApp.mymenumsSheld.detail.title">Sheld</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sheld.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="mymenuwebApp.mymenumsSheld.name" [ngbTooltip]="'mymenuwebApp.mymenumsSheld.help.name' | translate">Name</span>
        </dt>
        <dd>
          <span>{{ sheld.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sheld', sheld.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
