<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="receipePicture">
      <h2 data-cy="receipePictureDetailsHeading">
        <span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.detail.title">Receipe Picture</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ receipePicture.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.picture">Picture</span></dt>
        <dd>
          <div *ngIf="receipePicture.picture">
            <a (click)="openFile(receipePicture.picture, receipePicture.pictureContentType)">
              <img
                [src]="'data:' + receipePicture.pictureContentType + ';base64,' + receipePicture.picture"
                style="max-width: 100%"
                alt="receipePicture image"
              />
            </a>
            {{ receipePicture.pictureContentType }}, {{ byteSize(receipePicture.picture) }}
          </div>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.label">Label</span></dt>
        <dd>
          <span>{{ receipePicture.label }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsReceipePicture.order">Order</span></dt>
        <dd>
          <span>{{ receipePicture.order }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/receipe-picture', receipePicture.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
