<div>
  <h2 id="page-heading" data-cy="RecipeStepHeading">
    <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.home.title">Recipe Steps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recipe-step"
        [routerLink]="['/recipe-step/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.home.createLabel"> Create a new Recipe Step </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recipeSteps?.length === 0">
    <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.home.notFound">No recipeSteps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recipeSteps && recipeSteps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stepNum">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.stepNum">Step Num</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stepDescription">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipeStep.stepDescription">Step Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let recipeStep of recipeSteps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recipe-step', recipeStep.id, 'view']">{{ recipeStep.id }}</a>
          </td>
          <td>{{ recipeStep.stepNum }}</td>
          <td>{{ recipeStep.stepDescription }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/recipe-step', recipeStep.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/recipe-step', recipeStep.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recipeStep)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
