<div>
  <h2 id="page-heading" data-cy="IngredientHeading">
    <span jhiTranslate="mymenuwebApp.mymenumsIngredient.home.title">Ingredients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsIngredient.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ingredient"
        [routerLink]="['/ingredient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsIngredient.home.createLabel"> Create a new Ingredient </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ingredients?.length === 0">
    <span jhiTranslate="mymenuwebApp.mymenumsIngredient.home.notFound">No ingredients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ingredients && ingredients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="mymenuwebApp.mymenumsIngredient.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="quantityType">
            <span jhiTranslate="mymenuwebApp.mymenumsIngredient.quantityType">Quantity Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="product.name">
            <span jhiTranslate="mymenuwebApp.mymenumsIngredient.product">Product</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let ingredient of ingredients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ingredient', ingredient.id, 'view']">{{ ingredient.id }}</a>
          </td>
          <td>{{ ingredient.quantity }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.QuantityType.' + ingredient.quantityType }}">{{ ingredient.quantityType }}</td>
          <td>
            <div *ngIf="ingredient.product">
              <a [routerLink]="['/product', ingredient.product?.id, 'view']">{{ ingredient.product?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ingredient', ingredient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ingredient', ingredient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ingredient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
