<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="menu">
      <h2 data-cy="menuDetailsHeading"><span jhiTranslate="mymenuwebApp.mymenumsMenu.detail.title">Menu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ menu.id }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsMenu.date">Date</span></dt>
        <dd>
          <span>{{ menu.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsMenu.userId">User Id</span></dt>
        <dd>
          <span>{{ menu.userId }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsMenu.starter">Starter</span></dt>
        <dd>
          <div *ngIf="menu.starter">
            <a [routerLink]="['/recipe', menu.starter?.id, 'view']">{{ menu.starter?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsMenu.main">Main</span></dt>
        <dd>
          <div *ngIf="menu.main">
            <a [routerLink]="['/recipe', menu.main?.id, 'view']">{{ menu.main?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsMenu.dessert">Dessert</span></dt>
        <dd>
          <div *ngIf="menu.dessert">
            <a [routerLink]="['/recipe', menu.dessert?.id, 'view']">{{ menu.dessert?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/menu', menu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
