<div>
  <h2 id="page-heading" data-cy="RecipeHeading">
    <span jhiTranslate="mymenuwebApp.mymenumsRecipe.home.title">Recipes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsRecipe.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-recipe"
        [routerLink]="['/recipe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mymenuwebApp.mymenumsRecipe.home.createLabel"> Create a new Recipe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recipes?.length === 0">
    <span jhiTranslate="mymenuwebApp.mymenumsRecipe.home.notFound">No recipes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recipes && recipes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="preparationDuration">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.preparationDuration">Preparation Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="restDuraction">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.restDuraction">Rest Duraction</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cookingDuration">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.cookingDuration">Cooking Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="winterPreferrency">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.winterPreferrency">Winter Preferrency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="springPreferrency">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.springPreferrency">Spring Preferrency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="summerPreferrency">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.summerPreferrency">Summer Preferrency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="autumnPreferrency">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.autumnPreferrency">Autumn Preferrency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numberOfPeople">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.numberOfPeople">Number Of People</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipeType">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipeType">Recipe Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recipeUrl">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipeUrl">Recipe Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shortSteps">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.shortSteps">Short Steps</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isShortDescRecipe">
            <span jhiTranslate="mymenuwebApp.mymenumsRecipe.isShortDescRecipe">Is Short Desc Recipe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let recipe of recipes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/recipe', recipe.id, 'view']">{{ recipe.id }}</a>
          </td>
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.preparationDuration }}</td>
          <td>{{ recipe.restDuraction }}</td>
          <td>{{ recipe.cookingDuration }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.winterPreferrency }}">{{ recipe.winterPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.springPreferrency }}">{{ recipe.springPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.summerPreferrency }}">{{ recipe.summerPreferrency }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.autumnPreferrency }}">{{ recipe.autumnPreferrency }}</td>
          <td>{{ recipe.numberOfPeople }}</td>
          <td jhiTranslate="{{ 'mymenuwebApp.RecipeType.' + recipe.recipeType }}">{{ recipe.recipeType }}</td>
          <td>{{ recipe.recipeUrl }}</td>
          <td>{{ recipe.shortSteps }}</td>
          <td>{{ recipe.isShortDescRecipe }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/recipe', recipe.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/recipe', recipe.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recipe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
