<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="recipe">
      <h2 data-cy="recipeDetailsHeading"><span jhiTranslate="mymenuwebApp.mymenumsRecipe.detail.title">Recipe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recipe.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="mymenuwebApp.mymenumsRecipe.name" [ngbTooltip]="'mymenuwebApp.mymenumsRecipe.help.name' | translate"
            >Name</span
          >
        </dt>
        <dd>
          <span>{{ recipe.name }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.description">Description</span></dt>
        <dd>
          <span>{{ recipe.description }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.preparationDuration">Preparation Duration</span></dt>
        <dd>
          <span>{{ recipe.preparationDuration }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.restDuraction">Rest Duraction</span></dt>
        <dd>
          <span>{{ recipe.restDuraction }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.cookingDuration">Cooking Duration</span></dt>
        <dd>
          <span>{{ recipe.cookingDuration }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.winterPreferrency">Winter Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.winterPreferrency }}">{{ recipe.winterPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.springPreferrency">Spring Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.springPreferrency }}">{{ recipe.springPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.summerPreferrency">Summer Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.summerPreferrency }}">{{ recipe.summerPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.autumnPreferrency">Autumn Preferrency</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuwebApp.PreferredSeason.' + recipe.autumnPreferrency }}">{{ recipe.autumnPreferrency }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.numberOfPeople">Number Of People</span></dt>
        <dd>
          <span>{{ recipe.numberOfPeople }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipeType">Recipe Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'mymenuwebApp.RecipeType.' + recipe.recipeType }}">{{ recipe.recipeType }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipeUrl">Recipe Url</span></dt>
        <dd>
          <span>{{ recipe.recipeUrl }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.shortSteps">Short Steps</span></dt>
        <dd>
          <span>{{ recipe.shortSteps }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.isShortDescRecipe">Is Short Desc Recipe</span></dt>
        <dd>
          <span>{{ recipe.isShortDescRecipe }}</span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of recipe.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.ingredient">Ingredient</span></dt>
        <dd>
          <span *ngFor="let ingredient of recipe.ingredients; let last = last">
            <a [routerLink]="['/ingredient', ingredient?.id, 'view']">{{ ingredient.quantityType }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipePicture">Recipe Picture</span></dt>
        <dd>
          <span *ngFor="let recipePicture of recipe.recipePictures; let last = last">
            <a [routerLink]="['/receipe-picture', recipePicture?.id, 'view']">{{ recipePicture.label }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="mymenuwebApp.mymenumsRecipe.recipeStep">Recipe Step</span></dt>
        <dd>
          <span *ngFor="let recipeStep of recipe.recipeSteps; let last = last">
            <a [routerLink]="['/recipe-step', recipeStep?.id, 'view']">{{ recipeStep.stepDescription }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/recipe', recipe.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
